# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs and Editors
.idea/
.vscode/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Angular
.angular/
dist/
tmp/
out-tsc/
bazel-out/

# Ionic / Capacitor
www/
plugins/

# System files
.DS_Store
Thumbs.db
